In [1]:
# import required libraries
import pandas as pd
import os

In [2]:
# load all files from data folder (generated in Google Colab)
dfs = []
for file in os.listdir('../data/'):
    if '.csv' in file:
        temp = pd.read_csv(f'../data/{file}')
        dfs.append(temp)

In [3]:
# put all dfs together
all_dataframes = pd.concat(dfs)
print(len(all_dataframes))

5783

In [4]:
# randomly shuffle all dataframe rows
shuffled_df = all_dataframes.sample(frac=1, random_state=64)

In [5]:
# reset the index such that data is not identifiable
shuffled_df = shuffled_df.reset_index(drop=True)

In [6]:
shuffled_df[shuffled_df['needs'] == 'met'].describe()

                                                   report needs
count                                                2904  2904
unique                                               2903     1
top     - David's end of life care plan has been revie...   met
freq                                                    2  2904

In [7]:
# isolate the first 600 notes
send_df = shuffled_df.iloc[:600]

In [8]:
# 10% of all notes is approx 578 rows, 600 rows are used - at least 289 notes for each of the categories (unmet notes and met notes)
print(len(shuffled_df) / 10)
send_df[send_df['needs'] == 'unmet'].describe()

578.3

                                                   report  needs
count                                                 296    296
unique                                                296      1
top     - Patient Foster reported feeling intense pain...  unmet
freq                                                    1    296

In [9]:
# quickly assess output dataframe
send_df

                                                report  needs
0    7. Robert had a visit from his sister today an...    met
1    - Patient Foster reported feeling intense pain...  unmet
2    - Mr. Lopez had a visit from his pet therapy d...    met
3    - Mr. Kim has developed a skin rash and itchin...  unmet
4    - Mr. Carter was visited by his family today. ...    met
..                                                 ...    ...
595  8. Mr. Nguyen complained of severe back pain a...  unmet
596  7. Elizabeth was in good spirits today, chatti...    met
597  - Benjamin required assistance with getting re...    met
598  - Patient W complained of severe abdominal pai...  unmet
599  - Patient U displayed signs of confusion and d...  unmet

[600 rows x 2 columns]

In [10]:
# output one file for own reference
send_df.to_excel('./gpt3_labelled_notes.xlsx', index=False)
# output one file to send for review
df_to_send = send_df.drop(columns=['needs'])
df_to_send.to_excel('./gpt3_unlabelled_notes.xlsx', index = False)