In [111]:
import pandas as pd
import re 
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize, pos_tag
from collections import Counter
from names_dataset import NameDataset

In [53]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to /Users/isabel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/isabel/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/isabel/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /Users/isabel/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [112]:
nd = NameDataset()

In [113]:
met_df = pd.read_csv('./0_met.csv')
unmet_df = pd.read_csv('./0_unmet.csv')

In [150]:
def word_cleaner(dataframe):
    # clean text to standardize (leave puncuation in as there is meaning between sentences)
    lemmatizer = WordNetLemmatizer()
    for index, row in dataframe.iterrows():
        r = re.sub('^a-zA-Z', ' ', row['report'])
        r = r.lower()
        r = r.split()
        r = [word for word in r if word not in stopwords.words('english')]
        r = [lemmatizer.lemmatize(word) for word in r]
        r = ' '.join(r)
        r = re.sub(r'[^\w\s/]', '', r)
        r = re.sub(r'\d+', '', r)
        r = r.strip()
        dataframe.loc[index] = {'report': r, 'needs': row['needs']}
    return dataframe

In [151]:
met_notes_cleaned = word_cleaner(met_df)
unmet_notes_cleaned = word_cleaner(unmet_df)

In [152]:
met_notes_cleaned

                                                report needs
0    peter encouraged use walker today appeared sli...   met
1    susan assistance dressing brushing teeth ate h...   met
2    mark slept well last night displayed restlessn...   met
3    anna required help dental prosthesis getting r...   met
4    emma assisted shower nail trim ate breakfast h...   met
..                                                 ...   ...
623  david needed reminder drink fluid throughout d...   met
624  eleanor participated armchair exercise session...   met
625  frank noticed slightly long nail needed trimmi...   met
626  gloria reported mild abdominal pain evening ev...   met
627  henry required assistance transfer lifting tod...   met

[628 rows x 2 columns]

In [153]:
unmet_notes_cleaned

                                                report  needs
0    resident displayed sign discomfort throughout ...  unmet
1    resident b required full assistance breakfast ...  unmet
2    resident c showed increased apathy confusion p...  unmet
3    resident seemed restless wandered hall multipl...  unmet
4    resident e needed help dressing brushing teeth...  unmet
..                                                 ...    ...
605  mrs pearson required lot coaxing eat breakfast...  unmet
606  mr morrison enjoyed brief visit volunteer seem...  unmet
607  dorothy reported significant pain joints care ...  unmet
608  david needed support showering completed comfo...  unmet
609  roses denture cleaned today also received prom...  unmet

[610 rows x 2 columns]