In [1]:
# import required libraries
import pandas as pd
import os

In [2]:
# load all files from data folder (generated in Google Colab)
dfs = []
for file in os.listdir('../data/'):
    if '.csv' in file:
        temp = pd.read_csv(f'../data/{file}')
        dfs.append(temp)

In [11]:
# put all dfs together
all_dataframes = pd.concat(dfs)
print(len(all_dataframes))

6253

                                                   report  needs
count                                                6253   6253
unique                                               6238      2
top     Stephen complained of pain 8/10 in his right h...  unmet
freq                                                    6   3155

In [4]:
# randomly shuffle all dataframe rows
shuffled_df = all_dataframes.sample(frac=1, random_state=64)

In [5]:
# reset the index such that data is not identifiable
shuffled_df = shuffled_df.reset_index(drop=True)

In [6]:
shuffled_df[shuffled_df['needs'] == 'met'].describe()

                                                   report needs
count                                                3098  3098
unique                                               3098     1
top     1. Anna needed assistance with washing and dre...   met
freq                                                    1  3098

In [7]:
# isolate the first 600 notes
send_df = shuffled_df.iloc[:650]

In [8]:
# 10% of all notes is approx 625 rows, 650 rows are used - at least 313 notes for each of the categories (unmet notes and met notes)
print(len(shuffled_df) / 10)
send_df[send_df['needs'] == 'unmet'].describe()

625.3

                                                   report  needs
count                                                 314    314
unique                                                314      1
top     Sophia displayed overly long nails, making it ...  unmet
freq                                                    1    314

In [9]:
# quickly assess output dataframe
send_df

                                                report  needs
0    Sophia displayed overly long nails, making it ...  unmet
1    1. Anna needed assistance with washing and dre...    met
2    5. Linda participated in an organized activity...  unmet
3    Betty showed minor signs of oedema and rested ...    met
4    Samuel’s family requested additional support a...    met
..                                                 ...    ...
645  Clara’s nail care was attended to today. Her m...    met
646  19. Samuel preferred to spend time alone, mild...    met
647  Jessica's legs were swollen, and redness was o...    met
648    Freya received a dressing change for her leg...  unmet
649  Louis complained of continuing back pain and w...    met

[650 rows x 2 columns]

In [10]:
# output one file for own reference
send_df.to_excel('./gpt4_labelled_notes.xlsx', index=False)
# output one file to send for review
df_to_send = send_df.drop(columns=['needs'])
df_to_send.to_excel('./gpt4_unlabelled_notes.xlsx', index = False)